* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  /* background-color:#999999; */
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.nav {
  /* display: block; */
  flex-grow: 0;
  /* padding:10px 40px 0px 10px; */
  /* background-color: #999000; */
}

.navitem {
  display: block;
  padding: 5px 10px 5px 10px;
  color: black;
}

.article {
  padding: 10px 10px 0px 10px;
  background-color: #eeeeee;
  flex: auto;
}

.navitem:active,
.navitem[class~="active"] {
  background-color: #131313;
  color: #cccccc;
}
